<div class="container mainView border border-primary">
  <app-difficulty *ngIf="!gameStarted"></app-difficulty>
  <div class="container text-left" *ngIf="gameStarted">
    <div class="row align-items-start">
      <div *ngFor="let q of questions; let i = index">
        <app-trivia-question
          *ngIf="i == index"
          [ind]="i"
          [question]="q"
          (score)="updateGame($event)"
        ></app-trivia-question>
      </div>
      <!-- <div *ngIf="true">test</div> Placeholder for correct answers-->
    </div>
  </div>
  <app-enter-score *ngIf="gameComplete"></app-enter-score>
  <div></div>
</div>
