<div class="col-9 m-2">
  <form #form="ngForm">
    <div class="mb-3">
      <p>Choose difficulty:</p>
      <div class="form-check">
        <div *ngFor="let d of difficulties">
          <label class="form-check-label" for="difficulty_{{ d }}">
            {{ d }}
          </label>
          <input
            class="form-check-input"
            type="radio"
            id="difficulty_{{ d }}"
            name="difficulty"
            [value]="d"
            [(ngModel)]="chosenDifficulty"
          />
        </div>
      </div>
    </div>
    <p>Choose categories:</p>
    <div class="mb-3">
      <div
        class="form-check form-switch"
        *ngFor="let c of categories; let index = index"
      >
        <input
          required
          class="form-check-input"
          type="checkbox"
          id="category_{{ c }}"
          [(ngModel)]="selectedCategories[index].chosen"
          name="categories"
        />
        <label class="form-check-label" for="category_{{ c }}">{{ c }}</label>
      </div>
    </div>
    <div class="row">
      <div class="justify-items-center">
        <button
          class="btn btn-primary"
          (click)="startTrivia()"
          [disabled]="form.invalid"
        >
          Play Trivia
        </button>
      </div>
    </div>
  </form>
</div>
