<div class="container col-9 m-2">
  <form>
    <div class="mb-3">
      <p>Choose a diffiiculty:</p>
      <div class="form-check">
        <div *ngFor="let d of difficulties">
          <label class="form-check-label" for="difficulty_{{ d }}">
            {{ d }}
          </label>
          <input
            class="form-check-input"
            type="radio"
            id="difficulty_{{ d }}"
            name="difficulty"
            [value]="d"
            [(ngModel)]="chosenDifficulty"
          />
        </div>
      </div>
    </div>



<!-- TO BE REPLACED -->
    <!-- <div class="mb-3">
      <label for="cat" class="form-label">Select one or more categories:</label>
      <select
        class="form-select"
        [size]="categories.length"
        name="cat"
        id="cat"
        multiple
        [(ngModel)]="chosenCategories"
      >
        <option *ngFor="let c of categories">{{ c }}</option>
      </select>
    </div> -->
    <div class="row">
      <div class="justify-items-center">
        <button class="btn btn-primary" (click)="startTrivia()">
          Play Trivia
        </button>
      </div>
    </div>
  </form>
</div>
